<!--This HTML code was copied and ajusted to my project needs from Car House bootstrap template delivered by Rathan Kumar
Full Stack Software Developer on Udemy Course https://www.udemy.com/course/python-django-real-project-for-freshers-freelancers/-->

{% extends 'base.html' %}
{% block title %} | Contact {% endblock %}

{% block content %}

<!-- Sub banner start -->
<div class="sub-banner overview-bgi">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>Update Enquiry</h1>
            <ul class="breadcrumbs">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li class="active">Update Enquiry</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub Banner end -->

<!-- Contact 2 start -->
<div class="contact-2 content-area-5">
    <div class="container">
        <!-- Main title -->
        <div class="main-title text-center">
            <h1>Update your enquiry<span> Here</span></h1>
            
        </div>
        <form action="#" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-lg-7">
                    <div class="row">
                        <div class="col-md-6 text-left">
                            <div class="form-group name">
                                {{form.first_name}}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group name">
                                {{form.last_name}}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group email">
                                {{form.email}}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group name">
                                {{form.city}}
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group message">
                                {{form.comment}}
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="send-btn text-center">
                                <button type="submit" class="btn btn-md button-theme">Update</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="contact-info-2">
                        <div class="ci-box">
                            <div class="icon">
                                <i class="flaticon-phone"></i>
                            </div>
                            <div class="detail">
                                <h5>Phone:</h5>
                                <p>+383-87-926-6632</p>
                            </div>
                        </div>
                        <div class="ci-box">
                            <div class="icon">
                                <i class="flaticon-mail"></i>
                            </div>
                            <div class="detail">
                                <h5>Email:</h5>
                                <p><a href="#">contact@lamborghinideal.com</a></p>
                            </div>
                        </div>
                        
                        
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Contact 2 end -->

{% endblock %}