{% extends 'base.html' %}

{% block title %} | Services {% endblock %}

{% block content %}



<!-- Sub banner start -->
<div class="sub-banner overview-bgi">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>Services</h1>
            <ul class="breadcrumbs">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li class="active">Services</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub Banner end -->

<!-- Services start -->
<div class="services content-area">
    <div class="container">
        <!-- Main title -->
        <div class="main-title text-center">
            <h1>Our <span>Services</span></h1>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">1</div>
                    <div class="icon">
                        <i class="flaticon-support-2"></i>
                    </div>
                    <div class="detail">
                        <h3>Free Support</h3>
                        <p>There are probably many Lamborghini cars for sale at any one time in Ireland, without
                            experience and knowledge it is very easy to get it wrong, why waste a considerable amount of
                            your time in a process you know very little about that is fraught with risks?
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">2</div>
                    <div class="icon">
                        <i class="flaticon-car-2"></i>
                    </div>
                    <div class="detail">
                        <h3>Dealership</h3>
                        <p>We are on a mission to make sell preowned Lamborghini cars as easy as possible. You can
                            search a car on our database or create an account and
                            request informations about the car you like. We do the rest for you.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">3</div>
                    <div class="icon">
                        <i class="flaticon-lock"></i>
                    </div>
                    <div class="detail">
                        <h3>Security</h3>
                        <p> Our system delivers an agreed and fair price by electronic funds transfer to a bank of your
                            choice, with an immediate email confirmation of funds transfer.

                            Safety and peace of mind: Our system generates a written contract between an Lamborghini
                            Deal's agent and the seller, this covers both parties exposures, ours from fraudulent sellers, but
                            more importantly your exposure on a buy to parking fines, speeding fines, road tax
                            renewals, public liability issues and outstanding finance clearances amongst other things.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">4</div>
                    <div class="icon">
                        <i class="flaticon-deal"></i>
                    </div>
                    <div class="detail">
                        <h3>Trusted Agents</h3>
                        <p>Our talented individuals are our greatest resource. However they can only pursue the
                            extraordinary by working together as a team. By fostering integrity, excellence and
                            generosity, we give each of our people the possibility to express their own full potential
                            and to be part of something greater.
                            Simply express your car interest, and we will do the rest. We will take care of all paperwork, including
                            change of ownership.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- Services end -->





{% endblock %}