<!--This HTML code was copied and ajusted to my project needs from Car House bootstrap template delivered by Rathan Kumar
Full Stack Software Developer on Udemy Course https://www.udemy.com/course/python-django-real-project-for-freshers-freelancers/-->

<!-- Footer start -->
<footer class="footer">
    
    <div class="sub-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <p class="copy">© {% now 'Y' %} LamborghiniDeal Corp. All Rights Reserved.</p>
                </div>
                <div class="col-lg-4">
                    <div class="social-list-2">
                        <ul>
                            <li><a href="https://www.facebook.com/Lamborghini" target="blank" class="facebook-bg"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/Lamborghini?" target="blank" class="twitter-bg"><i class="fa fa-twitter"></i></a></li>                           
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer end -->