{% load static %}

<!-- Main header start -->
<header class="main-header sticky-header header-with-top">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand company-logo" href="{% url 'home' %}">
                <img src="https://res.cloudinary.com/dlpvlra1t/image/upload/v1675442516/media%20lamborghini/black-logo_b20eto_qqzshy.png" alt="logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="fa fa-bars"></span>
            </button>
            <div class="navbar-collapse collapse w-100" id="navbar">
                <ul class="navbar-nav ml-auto">

                    <li class="nav-item">
                        <a {% if '/' == request.path %}
                        class="nav-link active" 
                        {% else %}
                        class = "nav-link"
                        {% endif %}
                        href="{% url 'home' %}">
                            Home
                        </a>
                    </li> 
                    <li class="nav-item">
                        <a {% if 'cars' in request.path %}
                        class="nav-link active" 
                        
                        {% else %}
                        class = "nav-link"
                        {% endif %}
                        href="{% url 'cars' %}">
                            Cars
                        </a>
                    </li>          
                    <li class="nav-item">
                        <a {% if 'services' in request.path %}
                        class="nav-link active"
                        {% else %}
                        class = "nav-link"
                        {% endif %}
                        href="{% url 'services' %}">
                            Services
                        </a>
                    </li>                   
                    <li class="nav-item dropdown">
                        <a {% if 'contact' in request.path %}
                        class="nav-link active"
                        {% else %}
                        class = "nav-link"
                        {% endif %}
                        href="{% url 'contact' %}">Contact</a>
                    </li>
                    <li class="nav-item dropdown" id="dash-menudrop">
                        <a {% if 'dashboard' in request.path %}
                        class="nav-link active"
                        {% else %}
                        class = "nav-link"
                        {% endif %}
                        href="{% url 'dashboard' %}">Dashboard {{user.first_name}}</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item dropdown d-lg-none">
                        <a {% if 'logout' in request.path %}
                        class="nav-link active"
                        {% else %}
                        class = "nav-link"
                        {% endif %}
                        href="javascript:{document.getElementById('logout').submit()}" class="sign-out"><i class="fa fa-sign-out"></i> Logout</a>
                        <form action="{% url 'logout' %}" method="POST" id="logout">
                            {% csrf_token %}
                            <input type="hidden">
                        </form>
                    </li>
                    {% else %}
                    <li class="nav-item dropdown  d-lg-none" id="dash-menudrop">
                        <a {% if 'login' in request.path %}
                        class="nav-link active"
                        {% else %}
                        class = "nav-link"
                        {% endif %}
                        href="{% url 'login' %}" class="sign-in"><i class="fa fa-sign-in"></i> Login</a>
                    </li>
                    <li class="nav-item dropdown d-lg-none " id="dash-menudrop">
                        <a {% if 'singup' in request.path %}
                        class="nav-link active"
                        {% else %}
                        class = "nav-link"
                        {% endif %}
                        <a href="{% url 'singup' %}" class="sign-in"><i class="fa fa-user"></i> Sing Up</a>
                    </li>
                    {% endif %}
                    <li class="nav-item dropdown m-hide">
                        <a href="#full-page-search" class="nav-link h-icon">
                            <i class="fa fa-search"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>
<!-- Main header end -->
