<!--This HTML code was copied and ajusted to my project needs from Car House bootstrap template delivered by Rathan Kumar
Full Stack Software Developer on Udemy Course https://www.udemy.com/course/python-django-real-project-for-freshers-freelancers/-->

{% extends 'base.html' %}
{% block title %} | {{car_post.car_title}} {% endblock %}

{% block content %}
{% load humanize %}
<!-- Sub banner start -->
<div class="sub-banner overview-bgi">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>{{car_post.car_title}}</h1>
            <ul class="breadcrumbs">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li class="active">{{car_post.car_title}}</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub Banner end -->

<!-- Car details page start -->
<div class="car-details-page content-area-6">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12 col-xs-12">
                <div class="car-details-section">
                    <!-- Heading start -->
                    <div class="heading-car clearfix">                        
                        <div class="pull-left">
                            <h3>{{car_post.model}}</h3>
                            <h6>
                                <i class="flaticon-pin"></i>{{car_post.county}},
                            </h6>
                        </div>
                        <div class="pull-right">
                            <h3><span>€ {{car_post.price | intcomma}}</span></h3>
                        </div>

                    <!--Car Image start-->
                    </div>
                    <img src="{{car_post.image.url}}" class="img-fluid" alt="Lamborghini"
                        style="min-height: 300px; width: auto;">
                    
                    <!--Car image end-->

                    <!-- Tabbing box start -->
                    <div class="tabbing tabbing-box mb-40">
                        <ul class="nav nav-tabs" id="carTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active show" id="one-tab" data-toggle="tab" href="#one" role="tab"
                                    aria-controls="one" aria-selected="false">Vehicle overview</a>
                            </li>
                            
                        </ul>
                        <div class="tab-content" id="carTabContent">
                            <div class="tab-pane fade active show" id="one" role="tabpanel" aria-labelledby="one-tab">
                                <div class="car-description mb-50">
                                    <h3 class="heading-2">
                                        Description
                                    </h3>
                                    <p>{{car_post.description | safe}}</p>
                                    
                                </div>
                            </div>                           

                        </div>
                    </div>
                    <div class="nav-item">
                        <p><strong>Car Sales Contact: <u><a href="{% url 'home' %}" class="link-danger"> {{car_post.team_id.first_name}} {{car_post.team_id.last_name}}</a></u></strong></p>
                     </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="sidebar-right">
                    <!-- Advanced search start -->
                    <div class="widget advanced-search d-none-992">
                        <button class="btn btn-outline-danger bomd btn-block btn-lg" data-toggle="modal"
                            data-target="#inquiryModal">Ask for more</button>


                        <br>
                        <h3 class="sidebar-title">Refine Your Search</h3>
                        <ul>
                            <li>
                                <span>Model:</span>{{car_post.model}}
                            </li>
                            <li>
                                <span>Body Style:</span>{{car_post.body_style}}
                            </li>
                            <li>
                                <span>Engine:</span>{{car_post.engine}}
                            </li>
                            <li>
                                <span>Transmission:</span>{{car_post.transmmision}}
                            </li>
                            
                            <li>
                                <span>Fuel Type:</span>{{car_post.fuel_type}}
                            </li>
                           
                            <li>
                                <span>Miles:</span>{{car_post.miles | intcomma}} miles
                            </li>
                           
                            <li>
                                <span>Owners:</span>{{car_post.no_of_owners}}
                            </li>
                            <li>
                                <span>Year:</span>{{car_post.year}}
                            </li>
                            <li>
                                <span>County:</span>{{car_post.county}}
                            </li>
                        </ul>                            
                            
                    </div>

                    
              

                    <!-- Inquiry Modal -->
                    <div class="modal fade" id="inquiryModal" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="contact-dealer modal-header">
                                    <!-- <h5 class="modal-title" id="inquiryModalLabel">Contact Dealer</h5> -->
                                    <img src="https://res.cloudinary.com/dlpvlra1t/image/upload/v1675441884/media%20lamborghini/logo_ogjual_egon44.png">
                                    <button type="button" class="close" data-dismiss="modal">
                                        <span>&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form action="{% url 'inquiry_car' %}" method="POST">
                                        {% csrf_token %}

                                        {% if user.is_authenticated %}
                                        <input type="hidden" name="user_id" value="{{user.id}}">

                                        {% else %}
                                        <input type="hidden" name="user_id" value="0">

                                        {% endif %}
                                        <input type="hidden" name="car_id" value="{{car_post.id}}">
                                        <div class="form-group">
                                            <label for="name" class="col-form-label">Hello, My Name is</label>
                                            <div class="row">
                                                <div class="col">
                                                    <input type="text" name="first_name" class="form-control"
                                                        placeholder="First Name" {% if user.is_authenticated %} value={{user.first_name}} {% endif %} required>
                                                </div>
                                                <div class="col">
                                                    <input type="text" name="last_name" class="form-control"
                                                        placeholder="Last Name" {% if user.is_authenticated %} value={{user.last_name}} {% endif %} required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <select class="form-control" id="sel1" name="enquiry_type">
                                                <option value="I'm interested in this">I'm interested in this</option>
                                                <option value="I'd like to know your best price for this">I'd like to
                                                    know your best price for this</option>
                                                <option value="I'd like to test drive this">I'd like to test drive this
                                                </option>
                                                <option value="I'd like a history report for this">I'd like a history
                                                    report for this</option>
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <input type="text" name="car_title" class="form-control"
                                                value="{{ car_post.car_title }}" readonly>
                                        </div>

                                        <div class="form-group">
                                            <label for="name" class="col-form-label">I live in</label>
                                            <div class="row">
                                                <div class="col">
                                                    <input type="text" name="city" class="form-control"
                                                        placeholder="City" required>
                                                </div>
                                                
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col">
                                                    <label for="name" class="col-form-label">You can reach me by email
                                                        at</label>
                                                    <input type="email" name="email" class="form-control"
                                                        placeholder="Email Address" {% if user.is_authenticated %} value={{user.email}} {% endif %} required>
                                                </div>                                                
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="comment" class="col-form-label">Add comments</label>
                                            <textarea name="comment" class="form-control"
                                                placeholder="Enter your enquiry here (optional)"></textarea>
                                        </div>
                                        <hr>
                                        <input type="submit" value="Send" class="btn btn-block btn-danger">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Question start -->
                    <div class="widget question">
                        <h5 class="sidebar-title">Get a Question?</h5>
                        <ul class="contact-info">                            
                            <li>
                                <i class="flaticon-mail"></i><a
                                    href="{% url 'contact' %}">contact@lamborghinideal.com</a>
                            </li>
                            <li>
                                <i class="flaticon-phone"></i><a href="{% url 'contact' %}">+383-87-926-6632</a>
                            </li>
                        </ul>
                        <div class="social-list clearfix">
                            <ul>
                                <li><a href="https://www.facebook.com/Lamborghini" target="blank" class="facebook-bg"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="https://twitter.com/Lamborghini?" target="blank" class="twitter-bg"><i class="fa fa-twitter"></i></a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Properties details page end -->



{% endblock %}