{% extends 'base.html' %}
{% block title %} | Search Cars {% endblock %}
{% block content %}
{% load humanize %}
<!-- Banner start -->
<div class="sub-banner overview-bgi">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>Search Results</h1>
            <ul class="breadcrumbs">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li class="active">Search</li>
            </ul>
        </div>
    </div>
</div>
<!-- Banner end -->

<!-- Search box 3 start -->
<div class="search-box-3 sb-7 bg-active">
    <div class="container">
        <div class="search-area-inner">
            <div class="search-contents">
                <form method="" action="{% url 'search_car' %}"> 
                    
                    <div class="row">
                       
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                            <div class="form-group">
                                <select class="selectpicker search-fields" name="model">
                                    <option disabled="disabled" selected="selected">Select Model</option>
                                    {% for model in model_search %}
                                    <option value="{{model}}">{{model}}</option>
                                    {% endfor %}
                                    
                                </select>
                            </div>
                        </div>
                       
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                            <div class="form-group">
                                <select class="selectpicker search-fields" name="county">
                                    <option disabled="disabled" selected="selected">Select Location</option>
                                    {% for county in county_search %}
                                    <option value="{{county}}">{{county}}</option>
                                    {% endfor %}
                                    
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                            <div class="form-group">
                                <select class="selectpicker search-fields" name="year">
                                    <option disabled="disabled" selected="selected">Select Year</option>
                                    {% for year in year_search %}
                                    <option value="{{year}}">{{year}}</option>
                                    {% endfor %}
                                    
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                            <div class="form-group">
                                <select class="selectpicker search-fields" name="body_style">
                                    <option disabled="disabled" selected="selected">Select Body Style</option>
                                    {% for body_style in body_style_search %}
                                    <option value="{{body_style}}">{{body_style}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                     <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                            <div class="form-group">
                                <select class="selectpicker search-fields" name="transmission">
                                    <option disabled="disabled" selected="selected">Transmission</option>
                                    {% for transmmision in transmmision_search %}
                                    <option value="{{transmmision}}">{{transmmision}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                         <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                            <div class="form-group">
                                <div class="range-slider">
                                    <div data-min="0" data-max="3500000" data-unit="EURO" data-min-name="min_price" data-max-name="max_price" class="range-slider-ui ui-slider" aria-disabled="false"></div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                         <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                            <div class="form-group">
                                <button class="btn btn-block button-theme btn-md">
                                    <i class="fa fa-search"></i>Find
                                </button>
                            </div>
                        </div>

                    </div>
                   
                    
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Search box 3 end -->

<!-- Featured car start -->
<div class="featured-car content-area">
    <div class="container">
        <!-- Main title -->
        <div class="main-title">
            <h1>Here's your <span>Cars</span></h1>
           
        </div>
        <div class="row">  
            {% if cars %}         
            {% for car in cars %}

                    <div class="col-lg-6 col-md-6">
                        <div class="car-box-3">
                            <div class="car-thumbnail">
                                <a href="{% url 'car_details' car.slug %}" class="car-img">
                                    <div class="tag">For Sale</div>
                                    <div class="price-box">
                                        <span>€ {{car.price | intcomma}}</span>
                                    </div>
                                    <img class="d-block w-100" src="{{car.image.url}}" alt="car" style="max-height: 270px; width: auto;">
                                </a>
                               
                            </div>
                            <div class="detail">
                                <h1 class="title">
                                    <a href="{% url 'car_details' car.slug %}">{{car.car_title}}</a>
                                </h1>
                                <div class="location">
                                    <a href="{% url 'car_details' car.slug %}">
                                        <i class="flaticon-pin"></i>{{car.county}},
                                    </a>
                                </div>
                                <ul class="facilities-list clearfix">
                                    <li>{{car.fuel_type}}</li>
                                    <li>{{car.miles | intcomma}} miles</li>
                                    <li>{{car.fuel_type}}</li>
                                    <li>{{car.body_style}}</li>                                    
                                    <li>{{car.year}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                   
            {% endfor %}
            {% else %}
           
            <div>
            <h2 class="text-center">No car find to match your search.</h2>
            </div>
            {% endif %}
        </div>
    </div>
</div>
<!-- Featured car end -->

{%  endblock %}